<div class="container">
  <h2>※これまでご利用いただきましてありがとうございました。<br>新規ツールに立ち上げに伴い、本ツールは閉鎖します。</h2>
  <br><h2><%= link_to "新規ツールはこちらから", 'http://ec-merchant.com/10352' %></h2>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group" style="width:30%">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:'form-control', disabled: true  %>
      </div>
    </div>

    <div class="form-group" style="width:30%">
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class:'form-control', disabled: true  %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="form-group" style="width:10%">
      <div class="actions">
        <%= f.submit "ログイン" , class: 'btn btn-primary', disabled: true %>
      </div>
    </div>
  <% end %>



  <br>

  <!-- <%= render "devise/shared/links" %> -->

</div>
